<div class="container content-container">
  <h1>Questions</h1>
  <div class="question-scroll" id="questions">
    <% event.questions.order(cached_votes_score: :desc).each do |question| %>
      <%= render "questions/question", event: event, question: question %>
    <% end %>
  </div>
  <%= simple_form_for([event, Question.new], remote: true) do |f| %>
    <div class="input-field center">
      <%= f.input :content, label: "Ask a question"%>
    </div>
    <div class="center">
      <%= f.submit 'ask', class: 'btn-input' %>
    </div>
  <% end %>
</div>
