.event-banner {
  position: relative;
}

.event-container {
  position: absolute;
  top: 50%;
  left: 18%;
  background-color: $light-gray;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
  height: 300px;
  padding: 40px;

}

.event-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    color: $gray;
    text-decoration: none;
  }
}

.description {
  text-align: center;
}

.organizer {
  text-align: right;
}

.facilitation {
  margin-top: 80px;
}
