#title-code {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#organizer {
  width: 200px;
}

.event-parent {
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 60px auto;
}

.description {
  white-space: pre-wrap;
}


.event-name-data {
  text-align: center;
  margin: 20px;
  h1 {
    color: $red;
    font-style: italic;
    margin: 20px;
  }
}

.event-uploaded-image {
  margin: 40px;
  height: 400px;
  width: 600px;
  border-radius: 4px;
  object-fit: cover;
  object-position: center;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
  &:hover {
    box-shadow: none;
  }
}

.event-description {
  width: 100%;
  height: 100%;
  border: 1px solid black;

}


.facilitation {
  margin-top: 80px;
}

.footer {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 40px;
}

// -- POLL CHOICES --

.radio-toolbar {
  margin: 10px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
    width: 500px;
}

.radio-toolbar label:hover {
  background-color: #ccafaf;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #e58a8a;
}

// -- POLL CHOICES --

@media (max-width: 1024px) {
  /* For a screen < 720px, this CSS will be read */
  .event-container {
    top: 15%;
    height: 100%;
  }
  .event-parent {
    display: inline;
  }
  .event-uploaded-image  {
    margin: 60px auto;
    width: 100%;
    height: 100%;
  }
  .even-name-data {
    width: 100%;
  }

  .content-card {
    margin: 10px;
    width: 90%;
    h5 {
      font-size: 15px;
    }
    p {
      text-align: left;
      font-size: 12px;
    }
  }
}


@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .footer {
    flex-direction: column;
  }

  .tab-content {
   width: 680px;
   margin: 0 auto;
  }

  .card-box-wide.card-box-poll {
  width: 100%;
  }

  .poll-container {
  width: 100%;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .banner-white {
    padding-top: 90px;
    width: 100%;
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 24px;
    }
  }

  .tab-content {
    width: 100%;
    margin: 0 auto;
    h1 {
      font-size: 32px;
    }
  }

  .event-info {
    display: inline;
  }

  #title-code {
    display: inline;
  }

  .content-container {
    width: 100%;
  }
}

@media (max-width: 375px) {
  /* For a screen < 540px, this CSS will be read */
  .tab-content {
    width: 340px;
    margin: 0 auto;
  }

  .content {
    font-size: 11px;
    border-radius: 20px;
    box-shadow: none;
  }

}
