.form-name {
  font-weight: bold;
}

.form-description {
opacity: 0.7;
font-weight: lighter;
font-style: italic;
}

.button-container {
  text-align: center;
}

.new-project-card {
  background-color: white;
}
