.event-page {
  background-color: white;
  border: 1px solid  #D3D3D3;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 8px;
  margin-top: 8px;
  text-align: center;
}

.event-info {
  margin-top: 20px;
}

.organizer-link {

  &:hover {
    text-decoration: none;
  }
}
