// Specific CSS for your home-page
.introduction {
  text-align: center;
  padding: 20px;
  h2 {
    width: 95%;
    margin: 30px auto;
    color: $red;
    font-weight: bold;
  }
  h4 {
    margin: 10px auto;
  }
}
