.space {
  padding-top: 100px;
}

.introduction {
  text-align: center;
  padding: 20px;
  h2 {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 30px;
    color: $red;
    font-weight: bold;
  }
  h4 {
    margin: 10px auto;
  }
}

.title {
  position: relative;
}

@media (max-width: 1300px) {
  .banner-background {
    width: 100%;
  }

  .top-banner {
  margin: 140px 40px;
  }

 .top-banner-content {
  width: 100%;
 }
}

@media (max-width: 1024px) {
  /* For a screen < 960px, this CSS will be read */
  .top-banner {
    display: inline;
    margin: 0;
    h1 {
      margin: 40px;
      font-size: 48px;
      margin-top: 100px;
    }
  }

  .top-banner-content {
    width: 100%;
    margin: 40px auto;
    .introduction {
      width: 500px;
      margin: 0 auto;
    }
  }

  .login {
  margin-left: 40px;
 }

 .btn-join {
  margin-left: 40px;
 }
}

@media (max-width: 540px) {

.introduction {
  width: 100%;
 }

 .login {
  width: 80%;
  margin: 20px 40px;
  margin-top: 0;
  h2 {
    font-size: 28px;
  }
 }

 .btn-join {
  width: 40%;
  margin: 20px 40px;
 }
}
