.question-scroll {
height: 500px;
overflow: scroll;
}

.graycolor{
    color:#999;
 }
.bluecolor{
    color:#800000;
 }

 .bluecolor:hover:after {
  text-decoration: none;
  display: inline;
 }

.upvote-group {
  margin-left: 550px;
}

.graycolor.greencolor{
    color:#0B6E4F;
 }

 .checkedoff {
  margin-left: 10px;
 }

.user-info-message {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    margin: 0 auto;
  }
}
