.question-scroll {
height: 500px;
overflow: scroll;
}

.graycolor{
    color:#999;
 }
.bluecolor{
    color:#800000;
 }

 .bluecolor:hover:after {
  text-decoration: none;
  display: inline;
 }

.upvote-group {
  margin-left: 550px;
}

.graycolor.greencolor{
    color:#0B6E4F;
 }

 .checkedoff {

 }
