.user-page {
  background-color: white;
  border: 1px solid  #D3D3D3;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 8px;
  margin-top: 8px;
}

.project-names {
  margin-top: 10px;
}


.user-events {
  text-align: center;
  margin-top: 10px;
  a {
    text-decoration: none;
  }
}

.username {
  border-bottom: 1px solid  #D3D3D3;
  text-align: center;
  color: white;
  background-color: $red;
}

.event-name {
  margin-top: 50px;
}

