.side-bar {
  margin: 40px auto;
  width: 50%;
  font-size: 18px;
}

.user-content {
  margin: 40px;
  text-align: center;
  width: 100%;
}

.user-info {
  padding: 60px;
  h6 {
    font-size: 20px;
  }
}

.user-detail {
  display: flex;
  justify-content: space-between;
  margin: 16px auto;
}

.user-events {
  width: 90%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 30px auto;
  font-size: 22px;
  position: relative;
  &:hover {
    box-shadow: none;
  }
}

.event-link  {
  text-decoration: none;
  color: $gray;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  right: 0;
  left: 0;
}

.user-events img {
  width: 100%;
  height: 100%;
}

.card-link {
  top: 0;
  bottom: 0;
}

.event-time {
  font-size: 14px;
  font-weight: lighter;
}

.event-text {
  text-align: left;
  padding: 30px;
  h4 {
    color: $red;
  }
}

.user-events img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  margin-right: 30px;
}

.user-events p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.summary {
  position: absolute;
  width: 80px;
  font-size: 12px;
  top: 30px;
  right: 40px;
  text-align: center;
}

.event-card {
  padding: 16px;
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .user-page-container {
    display: inline;
    text-align: center;
  }

  .user-content {
    margin: 0;
  }
}

@media (max-width: 540px) {
  .summary {
    top: -24px;
    right: 0px;
  }
}
