<h1>Your events on MeetUp.com</h1>

<% @events.each_with_index do |event, index| %>
  <div class="user-events-meetup">
    <h5><%= index + 1 %>. <%=  event["name"] %></h5>
    <% event["description"] = Nokogiri::HTML(event["description"]).text.strip %>
    <%= link_to "Import this event", meetup_event_path(event: event), method: :post, class: "btn btn-outline-danger btn-meetup" %>
  </div>
<% end %>
