<h1><%= @event.title %></h1>

<p><%= @event.description %></p>

<!-- Photo for later -->

<!-- Link to the creator -->


<div class="d-flex justify-content-around">
    <%= render 'messages/index', event: @event, message: @message %>
    <%= render 'questions/index', event: @event, question: @question %>
</div>

