<div class=" container">
<h1><%= @event.title %></h1>

<p><%= @event.description %></p>
<% if @event.user == current_user %>
<h1><%= current_user.first_name %>'s token</h1>
<h2><%= @event.token %></h2>
    <% end %>
    </div>


<!-- Photo for later -->

<!-- Link to the creator -->


<div class="d-flex justify-content-around">
    <%#= render 'messages', event: @event, message: @message %>
    <%#= render 'questions', event: @event, question: @question %>
</div>

