<%= image_tag "top-banner.png", class: "banner-background" %>
<div class="top-banner">
  <div class="title">
    <h1>Engage your audience and enhance communication</h1>
    <button class="btn btn-inline btn-danger btn-join"><h6>Join Event</h6></button>
    <div class="login none">
      <h2>Enter the event code</h2>
      <%= simple_form_for(@audience) do |f| %>
        <div class="form-small">
          <%= text_field_tag :event_token, params[:event_token], placeholder: '#', class: 'form-control' %>
          <%= f.submit 'JOIN', class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="top-banner-content">
    <div class="introduction">
      <h2>FaciLita helps event hosts</h2>
        <i class="far fa-comments fa-2x">
          <h4>Manage comments and questions</h4>
        </i>
        <i class="fas fa-poll fa-2x">
          <h4>Create polls and collect data</h4>
        </i>
        <i class="fas fa-pen fa-2x">
          <h4>Gather feedback to your event</h4>
        </i>
        <i class="fas fa-chart-line fa-2x">
          <h4>Understand your audience with data</h4>
        </i>
    </div>
  </div>
</div>

