<div class="top-banner">
  <div class="top-banner-1">
    <%= image_tag "top-banner.png" %>
  </div>
  <div class="top-banner-2">
    <h2>Join your event with the code</h2>
    <div class="form-small">
      <%= simple_form_for(@audience) do |f| %>
        <div class="d-flex">
          <%= text_field_tag :event_token, params[:event_token], placeholder: '#', class: 'form-control' %>
          <%= f.submit 'JOIN', class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

