<div class="top-banner">
  <div class="top-banner-1">
    <%= image_tag "top-banner.png" %>
    <h1>Hear your audience and enhance the communication with FaciLita</h1>
  </div>
  <div class="top-banner-2">
    <h2>Join your event with the code</h2>
    <div class="form-small">
      <%= simple_form_for(@audience) do |f| %>
        <div class="d-flex">
          <%= text_field_tag :event_token, params[:event_token], placeholder: '#', class: 'form-control' %>
          <%= f.submit 'JOIN', class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
    <div class="introduction">
      <h2>With FaciLita you can check</h2>
        <i class="far fa-comments fa-lg">
          <h4>comments and questions</h4>
        </i>
        <i class="fas fa-poll fa-lg">
          <h4>response to your polls</h4>
        </i>
        <i class="fas fa-pen fa-lg">
          <h4>feedback to your event</h4>
        </i>
        <i class="fas fa-chart-line fa-lg">
          <h4>summary of your evet</h4>
        </i>
    </div>
  </div>
</div>

