<%= image_tag "top-banner.png", class: "banner-background" %>
<div class="top-banner">
  <div class="title">
    <h1>Engage your audience<br>Enhance communication</h1>
      <%= simple_form_for(@audience) do |f| %>
        <div class="form-small">
          <%= text_field_tag :event_token, params[:event_token], placeholder: '#MNC4B', class: 'form-control' %>
          <%= f.submit 'Join Event', class: "btn btn-danger" %>
        </div>
      <% end %>
  </div>
  <div class="top-banner-content">
    <div class="introduction">
      <h2>FaciLita helps event hosts...</h2>
        <div class="d-flex align-items-center">
          <i class="far fa-comments fa-lg"></i>
          <p>Manage comments and questions</p>
        </div>
        <div class="d-flex align-items-center">
          <i class="fas fa-poll fa-lg"></i>
          <p>Create polls and collect data</p>
        </div>
        <div class="d-flex align-items-center">
          <i class="fas fa-pen fa-lg"></i>
          <p>Gather feedback to your event</p>
        </div>
        <div class="d-flex align-items-center">
          <i class="fas fa-chart-line fa-lg"></i>
          <p>Understand your audience with data</p>
        </div>
    </div>
  </div>
</div>

