.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  // width used to be 56px
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(0,0,0,0.8);
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.user-profile-avatar {
  margin: 40px;
}
