.btn-input {
  border: none;
  color: $red;
  background-color: $light-gray;
  font-size: 20px;
  margin-top: 0;
}

.poll-button {
  width: 100%;
}

.btn-create {
  width: 60px;
  font-size: 24px;
  margin-left: 66%;
  margin-bottom: 20px;
}
