.btn-input {
  border: none;
  color: $red;
  background-color: $light-gray;
  font-size: 20px;
  margin-top: 0;
}

.poll-button {
  width: 100%;
}

.poll-title-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.event-details {
  margin: 32px 0;
  width: 240px;
}
