.btn-input {
  border: none;
  color: $red;
  background-color: $light-gray;
  font-size: 20px;
  margin-top: 0;
}

.poll-button {
  width: 400px;
}

.btn-join {
  width: 300px;
  height: 40px;
  p {
    font-size: 18px;
  }
}
