.card {
  box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
  border: none;
  &:hover {
    box-shadow: none;
  }
}

#message- {
  display: none;
}

#question- {
  display: none;
}

.content-card {
  margin: 16px auto;
  padding: 24px;
  width: 70%;
  img {
    margin: 20px;
  }
}

.audience-card {
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  .audience-name-card {
    width: 180px;
    text-align: start;
    font-size: 18px;
    margin-left: 40px;
  }
}

.card-square {
  width: 200px;
  height: 200px;
  margin: 40px auto;
  text-align: center;
  line-height: 3;
  h2 {
    font-weight: bold;
  }
}

.card-box {
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  h4 {
    margin: 20px auto;
  }
  &:hover {
    box-shadow: none;
  }
}

.card-box h5 {
  margin-top: 40px;
}


.card-box-wide {
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
  margin: 0 auto;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  h4 {
    margin: 40px auto;
  }
  &:hover {
    box-shadow: none;
  }
}

.text-box-small {
  list-style-type: none;
  line-height: 3;
  width: 200px;
  &:hover {
    box-shadow: none;
  }
}

.card-box-no-color {
  width: 500px;
  height: 430px;
  margin: 20px;
  border-radius: 4px;
  text-align: center;
  padding: 40px;
  h5 {
    margin-bottom: 20px;
  }
  img {
    margin: 40px;
    margin-bottom: 40px;
  }
}
