.card {
  box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
  border: none;
  &:hover {
    box-shadow: none;
  }
}

#message- {
  display: none;
}

#question- {
  display: none;
}

.content-card {
  margin: 16px auto;
  padding: 16px;
  width: 70%;
}

.audience-card {
  height: 40px;
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
  .audience-name-card {
    width: 180px;
    text-align: start;
    font-size: 18px;
    margin-left: 40px;
  }
}

.card-square {
  width: 320px;
  height: 320px;
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
  margin: 20px;
  border-radius: 4px;
  text-align: center;
  padding: 40px;
  img {
    margin-bottom: 40px;
  }
  &:hover {
    box-shadow: none;
  }
}

.card-box {
  width: 500px;
  height: 430px;
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
  margin: 20px;
  border-radius: 4px;
  text-align: center;
  padding: 40px;
  h5 {
    margin-bottom: 20px;
  }
  img {
    margin: 40px;
    margin-bottom: 40px;
  }
  &:hover {
    box-shadow: none;
  }
}



.card-box-wide {
  width: 800px;
  height: 480px;
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
  margin: 0 auto;
  border-radius: 4px;
  padding: 40px;
  .text-box-small {
    margin-top: 40px;
    list-style-type: none;
    line-height: 3;
    width: 200px;
  }
  &:hover {
    box-shadow: none;
  }
}

.card-box-no-color {
  width: 500px;
  height: 430px;
  margin: 20px;
  border-radius: 4px;
  text-align: center;
  padding: 40px;
  h5 {
    margin-bottom: 20px;
  }
  img {
    margin: 40px;
    margin-bottom: 40px;
  }
}
