#users-chart {
  margin-top: 30px;
}

#chart-1 {
  margin: 0 auto;
}

#chart-2 {
  margin: 0 auto;
}

#chart-3 {
  margin: 0 auto;
}

#chart-4 {
  margin: 0 auto;
}

#chart-5 {
  margin: 0 auto;
}

#chart-6 {
  margin: 0 auto;
}
