.background-container {
  background-color: $red-gray;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  padding-top: 20px;
}

.content-container {
  width: 60%;
  h1 {
  text-align: center;
  margin: 24px auto;
  }
}

.text-center {
  text-align: center;
}

.form-container {
  background-color: white;
  width: 680px;
  padding: 30px;
  margin-top: 10px;
}

.poll-container {
  width: 40%;
  margin-top: 10px;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.summary-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.summary-container-1 {
  height: 80%;
  width: 20%;
  padding: 40px;
  border-radius: 4px;
  margin-right: 0;
  padding-right: 0;
  position: fixed;
  text-align: center;
}

.user-page-container {
  display: flex;
  justify-content: space-around;
  align-items: start;
}


