.content-container h1 {
  text-align: center;
  margin: 24px auto;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.summary-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.summary-container-1 {
  height: 80%;
  width: 20%;
  padding: 40px;
  border-radius: 4px;
  margin-right: 0;
  padding-right: 0;
  position: fixed;
  text-align: center;
}

.user-page-container {
  display: flex;
  justify-content: space-around;
  align-items: start;
}


