.text-red {
  color: $red;
  text-decoration: none !important;
  transition: 0.3s;
}

.text-space-around {
  margin: 40px;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.text-space-top {
  margin: 40px 0px;
}
